@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* root varebls color */
:root {
  --blue-text: #011F3A;
  --btn-bg: #3D5675;
  --white: #FFFFFF;
  --grey: #EEEEEE;
  --grey-red: #777777;
  --foo-bg: #F2F3F4;
  --orange: #F2AE4D;
  --green: #72BDA3;
  --yellow: #FFCA3A;

}

/* global style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--grey);
  width: 100%;
}

.container {
  width: 90%;
  margin: 10px auto;
}

a {
  font-size: 14px;
}

p {
  font-size: 15px;
}

h1,
h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

li {
  list-style: none;
}

.logo-img {
  margin: 15px;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: var(--blue-text);
}

.nav__items {
  display: flex;
}

.nav__item {
  margin: 0px 25px;
  padding: 22px 0px;
}

.nav__item_yulduz {
  margin: 0px;
}

.accaunt {
  color: var(--blue-text);
  text-decoration: none;
  margin-right: 40px;
}

.savat {
  margin-right: 30px;
}

.header-body {
  width: 100%;
  height: 600px;
  background-color: var(--orange);
  position: relative;
}

.header-body-h2 {
  width: 510px;
  padding-top: 226px;
  /* margin-left: 100px; */
}

.header-body__bg-img {
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(-50%, -50%);

}

.header-body-p {
  /* margin-left: 100px; */
  padding-top: 33px;
  width: 300px;
}

.header-body-btn {
  background-color: var(--btn-bg);
  border: none;
  border-radius: 44px;
  padding: 10px;
  margin-top: 14px;
  width: 228px;
  height: 56px;
}

.btn-href {
  text-decoration: none;
  color: var(--white);
}

.header-footer {
  display: flex;
  justify-content: space-between;
}

.section-h3 {
  margin-top: 88px;
  margin-left: 162px;
}

.section-div {
  display: flex;
  justify-content: space-evenly;
}

.card-p {
  width: 270px;
}

.card-p2 {
  width: 230px;
}

.card-p3 {
  width: 270px;
}

.section2 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--yellow);
}

.section-card {
  width: 50%;
  padding: 100px;
  text-align: center;
}

.section-card-1::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 2px;
  background-color: #011F3A;
}

.section-btn {
  border-radius: 44px;
  border: none;
  padding: 10px;
  margin-top: 23px;
}

.section-href {
  text-decoration: none;
  padding: 20px;
}

.footer {
  padding: 100px 0px;
}

.footer-h3 {
  margin-left: 628px;
}

.footer-btn {
  background-color: var(--btn-bg);
  border-radius: 44px;
  border: none;
  padding: 10px;
  margin-left: 540px;
  margin-top: 50px;
}

.footer-href {
  color: var(--white);
  text-decoration: none;
}

.footer-btn2 {
  color: var(--white);
  border-radius: 44px;
  border: none;
  padding: 10px;
  background-color: var(--white);
  margin-left: 10px;
  margin-top: 50px;
}

.footer-href2 {
  color: var(--btn-bg);
  text-decoration: none;
}


.footer2 {
  display: flex;
  justify-content: space-between;
}

.footer2-href-div a,
.footer2-href2-div a,
.footer2-href3-div a {
  display: block;
  text-decoration: none;
  margin: 0 0 17px 0;
  color: var(--btn-bg);
}

.img-icon {
  margin-top: 50px;
}

input {
  width: 280px;
  height: 36px;
  border-radius: 34px;
  border: none;
  display: flex;
}

.input-p {
  margin: 13px;
}

.footer2-href3-div input {
  padding: 5px 15px;
}

.input-btn {
  width: 187px;
  height: 44px;
  border-radius: 44px;
  margin-top: 10px;
  background-color: var(--btn-bg);
  border: none;
}

.input-btn a {
  color: var(--white);
  margin: 0;
}